@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
  
}
:root{
  --primary-text-color:#222;
  --secondary-text-color:white;
  --button-color: #CD443F;
  --primary-bg-color:rgb(241, 241, 241);
  --background-light-mode-img: url("https://imgv3.fotor.com/images/background/background-image.png");
  --background-dark-mode-img: url("https://th.bing.com/th/id/OIP.MgPrZy9gH8bQmiTkU0cqaQHaDB?pid=ImgDet&rs=1");
  --turn : 0deg;
}
#header{
    background-color: #da898c;
    background-image: linear-gradient(147deg, #da898c 0%, #59090c 74%);
color: White;
text-align: center;
padding-top:1em;
padding-bottom: 1em;
margin:0px;
width:100%;
}
h1{
    font-size:50px;
    text-align: center;
    padding-bottom: 5px;
}
h2{
    font-size:40px;
    text-align: center;
    padding-bottom: 5px;
}
body{
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  /*background:var(--primary-bg-color) ;
  background-color: #ffa69e;*/
  background-image:url("/images/pink.jpg");
  /*background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);*/
  
  background-size: cover;
  background-position: inherit;
  background-attachment: fixed;
  text-align: center;
  padding: 2% 5%;
}
p{
  color: var(--primary-text-color);
}

body.dark-theme{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255,255,255,.5)), var(--background-dark-mode-img);
  background-repeat: no-repeat;
  background-size: cover;
  --primary-bg-color:#222;
  --primary-text-color:#fff;
  background-attachment: fixed;
  --secondary-text-color:#222;
}

.navigation{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}
.navigation > .logo > img{
  width: 100px;
  border-radius: 1px;
  border-radius: 20px;
  opacity: 0.9;
}
.navigation > .download-img{
  margin-right: 20px;
  margin-top: 26px;
  transition: 0.5s;
}
.navigation > .download-img > .save-now:hover{
  transform: scale(1.02);
  background-color: lightpink;
  transform-origin: top;
  transition: all 0.3s ease-in-out;
  filter: none;
}
.navigation > .download-img > .save-now{
  font-size: 20px;
  margin-top:7.3em;
  padding: 8px;
  text-decoration: none;
  background: lightcoral;
  color:var(--secondary-text-color);
  border-radius: 3px;
  filter: drop-shadow(2px 2px 2px rgba(8, 8, 8, 0.219));
  transition: all 0.3s ease-in-out;

}



.navigation > .download-img > .save-now{
  position: relative;
  top: 66rem;
  right: 152%;
  padding: 10px;
}


a#save-now {
  position: left;
  position: absolute;
  /* left: 86rem; */
  right: 28px;
  top: 7.5vw;
  padding: 5px;
  width: 125px;
  height: 35px;
  font-size: 17px;
  box-shadow: 2px 2px 4px 0px #686464;
}




.upload-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5%;
}
.upload-btn > .upload-img{
  padding: 10px;
}
a:link, a:visited{
    margin-bottom: 15%;
    color:white;
    font-style: italic;
    font-size: 1.5em;
    text-align:center;
   
    text-decoration: none;  
}
#upload-tag{
  margin-bottom: 15%;
  color:white;
  font-style: italic;
  font-size: 1.5em;
  text-align:center;
  margin-top: 4em;
 
}
a:hover{
    text-decoration: none;
transition: 0.2s ease-in-out;
  cursor: pointer;
  background-color:palevioletred;
    border:hotpink 1px solid;
    padding:5px 10px 5px 10px;
    border-radius: 20px;
}
.upload-btn > .upload-img > p{
  font-size: 25px;
  padding: 5px;
  margin-bottom: 40px;
  font-weight: 500;
  margin-left: 150px;
}
/* .upload-btn > .upload-img > .upload{
  padding: 20px 15px;
  font-size: 19px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary-text-color);
  color: var(--secondary-text-color);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .20s;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0.1rem 0.4rem 0.8rem rgb(150 73 137);
  
}
.upload-btn > .upload-img > .upload span{
  position: relative;
  z-index: 2;
}
.upload-btn > .upload-img > .upload:after{
  position: absolute;
  content: "";
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(255, 0, 157);
  transition: all .20s;
}
.upload-btn > .upload-img > .upload:hover{
  transition: background-color 2s ease-in-out, color 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  color: #fff;
}
.upload-btn > .upload-img > .upload:hover:after{
  width: 100%;
  transition: all .20s;
  transition: background-color 2s ease-in-out, color 0.4s ease-in-out, border-radius 0.4s ease-in-out;
} */


.upload-btn > .upload-img > .upload{
  padding: 20px 15px;
  font-size: 19px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 8px;
  background:lightcoral;
  color:var(--secondary-text-color);
  border: 2px solid var(--button-color);
  margin-left: 163px;
} 

.upload-btn > .upload-img > .upload:hover{
  background-color:plum;
  cursor: pointer;
  background: none;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  color: var(--button-color);
  font-weight: 0;
  border-radius: 10px;
} 
.editor{
  height: 80vh;
  text-align: center;
}
.editor > .tool{
  
  /* padding: 100px; */
  width: 100%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.editor > .tool > .essential-tool{
  padding: 20px;
  margin: 20px;
  display:flex;
  margin-left:386;
}
.editor > .tool > .essential-tool > .action-tool{
  display:inline-block;
  padding: 20px;
}
.editor > .tool > .essential-tool > .action-tool > .fus{
  /* width: 100px;
  height: 30px;
  background-color: #CD443F; */
  display:inline-block;
  cursor: pointer;
  background: lightcoral;
  padding: 12px;
  text-align: center;
  color: rgb(255, 247, 252);
  border-radius: 10px;
  transform: perspective(900px) rotateY(0deg);
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(85, 83, 83);
  border: none;
}

.editor > .tool > .essential-tool > .action-tool > .fus:hover{
  background: pink;
  transform:scale(1.1);
.editor > .tool > .essential-tool > .action-tool > .fus:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 500%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.editor > .tool > .essential-tool > .action-tool > .fus:active {
    color: #000
}

.editor > .tool > .essential-tool > .action-tool > .fus:active:after {
    background: transparent;
}

.editor > .tool > .essential-tool > .action-tool > .fus:hover:before {
    opacity: 1;
}

.editor > .tool > .essential-tool > .action-tool > .fus:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10, 10, 10);
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.editor > .tool > .essential-tool > .action-tool > div{
  text-decoration: none;
  background-color: coral;
  padding: 5px 15px 5px 15px;
  border:1px solid coral;
 border-radius: 20px;
   color: white;
   font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  background:coral;
  animation: animate 2s linear infinite;
  transition: box-shadow 2s ease-in;
  border: none;
  
}

/* Adding text on button hovers */

.editor > .tool > .essential-tool > .action-tool > div:hover{
background-color:#E1306C;
border-radius: 10px;
}
.action-tool p{
  margin-top: 20%;
}
@keyframes animate {
  50%{
  
    box-shadow: 0.2rem 0.2rem 0.8rem rgb(133, 122, 122);
    transition: box-shadow 2s ease-in;
   
  }
}
.editor > .tool > .essential-tool > .action-tool > .fus.disabled{
  background: palevioletred;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgb(236, 84, 191);
  cursor: not-allowed;
}
.editor > .tool > .essential-tool > .action-tool > .fus.disabled:hover{
  background: rgba(235, 11, 116, 0.781);
}
.editor > .canvas{
  padding: 20px;
  width: 50%;
  margin: 5px;
  text-align: center;
  margin-left: 25%;
}
.editor > .canvas > .uploaded-img-container{
  text-align: center;
  border: 3px dashed lightgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width:50vw;
  margin-left:1vw;
}
.editor > .canvas > .uploaded-img-container > .fa-cloud-upload-alt{
  font-size: 100px;
  color: lavenderblush;
  padding: 10px;
}
.uploaded-img-container{
  height: 200px;
  width: 200px;
  transition: transform 0.8s ease-in-out;
 }
.uploaded-img-container:hover{
  transform:rotate(360);
 }
.editor > .canvas > .img-box{
  width: 100%;
  height: 100%;
  padding: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.exposure-box {
  width: 300px;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  background: rgba(255, 105, 180, 0.863);
  color: #fff;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 461px;
  margin-bottom:40px;
}
#range{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #ffffffcc;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#range::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c2c2c;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
}
.footer > .logo > p{
  margin-left: 10px;
  
  font-weight: 700;
}
.footer > .logo > p{
  position: relative;
  width: 80px;
}
.footer > .useful-links{
  padding: 10px;
  margin-left: 20px;
  margin-top: 18px;
}
.footer > .useful-links > ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.footer > .useful-links > ul > li > a{
  padding: 10px;
  margin-left: 20px;
}
.footer > .useful-links > ul > li > a > .fab{
  font-size: 30px;
}
.footer > .useful-links > ul > li > a > .fa-facebook{
  color: lightpink;
}
.footer > .useful-links > ul > li > a > .fa-facebook:hover{
  color:white;
}
.footer > .useful-links > ul > li > a > .fa-twitter{
  color: lightpink;
}
.footer > .useful-links > ul > li > a > .fa-twitter:hover{
  color: white;
}
.footer > .useful-links > ul > li > a > .fa-instagram{
  color: lightpink;
}
.footer > .useful-links > ul > li > a > .fa-instagram:hover{
  color: white;
}

#delete {
  background:palevioletred;
}
/* ------- responsive ------------ */
@media(max-width:767px){
  .editor{
    position: relative;
    left: 50%;
    transform: translate(-39%);
    height: 110vh;
  }
  .editor > .tool{
    height: 100%;
    width: 70%;
    order: 2;
  }
  .editor > .tool > .essential-tool{
    top: 50%;
    transform: translateY(-110%);
    padding: 20px;
    margin: 20px;
  }
  .editor > .tool > .essential-tool > .action-tool{
    padding: 10px;
  }
  .editor > .tool > .essential-tool > .action-tool > .fas{
    width: 50px;
  }
  .editor > .canvas{
    transform: translate(-25%);
    width: 70%;
    margin-bottom: 5%;
  }
  .uploaded-img-container{
    height: 200px;
    width: 200px;
  }
  .editor > .canvas > .img-box{
    height: 300px;
    width: 400px;
    top: 5%;
    background-size: contain;
  }

  .footer{
    margin-top: 100px;
  }
} */
.fa-upload {
  margin-right: 10px;
}


.theme-switch-wrapper {
  align-items: center;
  margin-left: 1070px;
  margin-top: 25px;
  height: 2rem;
  width: 7rem;
  background:var(--button-color);
  color:#fff;
  cursor: pointer;
  border-radius: 5rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background:linear-gradient(45deg,rgb(74, 74, 212),rgb(154, 154, 237));
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background: linear-gradient(45deg,rgb(74, 74, 212),rgb(154, 154, 237));;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#img-box {
  -webkit-transform:rotate( var(--turn) );
  -moz-transform: rotate( var(--turn) );
  -ms-transform: rotate( var(--turn) );
  -o-transform: rotate( var(--turn) );
  transform: rotate( var(--turn) );
}


.social-icons{
  display: flex;
}
.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Halvetica Neue",sans-serif,"Arial";
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
  box-shadow: inset 1px 1px 2px #90a4ae,
  inset -1px -1px 2px white,
  5px 5px 10px #90a4ae,
  -5px -5px 10px white;
  border: 6px solid rgba(230,228,228);            
}
/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

/* color */
.social-icon--codepen{
  background: #000;
  color: #fff;
}
.social-icon--github{
  background: #4284c0;
  color: #fff;
}
.social-icon--twitter{
  background: #2b97f1;
  color: #fff;
}
.social-icon--youtube{
  background: #fa3217;
  color: white;
}
.social-icon--instagram{
  background: #527fa6;
  color: white;
}
.social-icon--facebook{
  background: #3b5a9b;
  color: white;
}
/* Hover Effect*/
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon--codepen .tooltip{
  background: #000;
  columns: currentColor;
}
.social-icon--codepen .tooltip::after{
  border-top-color: black;
}

.social-icon--facebook .tooltip{
  background: #3b5a9b;
  columns: currentColor;
}
.social-icon--facebook .tooltip::after{
  border-top-color: #3b5a9a;
}
.social-icon--twitter .tooltip{
  background: #2b97f1;
  columns: currentColor;
}
.social-icon--twitter .tooltip::after{
  border-top-color: #2b97f1;
}

.social-icon--youtube .tooltip{
  background: #f31344;
  columns: currentColor;
}
.social-icon--youtube .tooltip::after{
  border-top-color: #f31344;
}

.social-icon--instagram .tooltip{
  background: #527fa6;
  columns: currentColor;
}
.social-icon--instagram .tooltip:after{
  border-top-color: #527fa6;
}

#exposure-range {
  display: none;
}

.theme-switch-wrapper {
  background: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fa-cloud-moon::before {
  height: 100%;
  color: #000;
}

#dark {
  display: block;
}

#light {
  display: none;
}

#grey-scale {
  background: #808080;
}
#sepia {
  background: #704214;
}
#amaro {
  background: rgb(150, 242, 208);
}
#lark {
  background: #b89b72;
}

/* -----------responsive---------- */
/*@media screen and (max-width: 1514px){
  .navigation > .theme-switch-wrapper{
    margin-left: 0px;
  }
}
@media screen and (max-width: 900px){
  .footer{
    position: absolute;
    bottom: -500px;
  }
}
@media screen and (max-width: 850px){
  .editor > .canvas{
    padding: 20px;
    width: 100%;
    margin: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 450px){
  .navigation > .theme-switch-wrapper{
    margin-left: 0px;
    position: absolute;
    top: 0;
    right: 10%;
  }*/
  .tool > .essential-tool{
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-grow: 100px; */
    box-sizing: border-box;
    order: 5;
  }
  .tool > .essential-tool > .action-tool{
    min-width: 130px;
  }
  .editor > .tool > .essential-tool{
    margin: 0;
  }
  .footer{
    position: absolute;
    bottom: -850px;
  }
  #undo-btn{
    background: rgb(20,23,168);
  }
  #redo-btn{
    background: rgb(20,23,168);
  }
  #delete:hover{
    background: rgb(81, 255, 13);
  }
  

#essentail-tool{
    border:1px white solid;
    margin: 7em 0px 50px 0px; 
    border-radius:20px;
    width:60%;
}
#essential-tool{
    border:1px white solid;
    margin: 7em 0px 50px 0px; 
    border-radius:20px;
    width:60%;
}

#handy-tool{
    border:1px white solid;
    margin: 7em 0px 50px 0px; 
    border-radius:20px;
    width:60%;
}

#essentail-tool:hover{
  
    width:65%;
}
#essential-tool:hover{
    width:65%;
}
#handy-tool:hover{
    width:65%;
}



@media(max-width:425px){
    #essentail-tool {
        border: 1px white solid;
        margin: 70vw 1vw 10vw 1vw;
        border-radius: 20px;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #essential-tool {
      border: 1px white solid;
      margin: 1vw 0px 50px 0px;
      border-radius: 20px;
      width: 60%;
      display: grid;
      grid-template-columns: 1fr;
  }
}
@media (max-width:768px){
    h1 {
        font-size: 7vw;
        text-align: center;
        padding-bottom: 5px;
    }
    h2 {
        font-size: 3vw;
        text-align: center;
        padding-bottom: 5px;
    }
    .editor > .canvas > .uploaded-img-container {
        text-align: center;
        border: 3px dashed lightgray;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 60vw;
        margin-left: 20vw;
    }
 
    #essentail-tool {
        border: 1px white solid;
        margin: 7vw 1vw 10vw 1vw;
        border-radius: 20px;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #essential-tool {
      border: 1px white solid;
      margin: 7em 0px 50px 0px;
      border-radius: 20px;
      width: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .exposure-box {
    width: 300px;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    background: rgba(255, 105, 180, 0.863);
    color: #fff;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-left: 0vw;
    margin-bottom: 40px;
}
}
.exposure-box {
  width: 300px;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  background: rgba(255, 105, 180, 0.863);
  color: #fff;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 0vw;
  margin-bottom: 40px;
}

#essentail-tool {
  border: 1px white solid;
  margin: 7em 0px 50px 0px;
  border-radius: 20px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
