@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap");
:root {
  --banner: white;
  --side: #f9fafb;
  --middle: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "banner banner banner"
    "left middle right";
}

#banner {
  grid-area: banner;
  border: 1px solid #e5e5e5;
  background-color: var(--banner);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  object-fit: contain;
}

.download-button {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3%;
}

.download {
  width: 10%;
  background-color: #9e77ed;
  outline: none;
  border-radius: 5px;
  height: 60%;
  border: none;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.download:hover {
  background-color: #a487df;
}

.save-now {
  text-decoration: none;
  color: white;
}

#left {
  grid-area: left;

  background-color: var(--side);
  border: 1px solid #e5e5e5;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tools {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}

#tools h5 {
  width: 100%;
  padding-bottom: 1rem;
}

.action-tool {
  height: 30px;
  padding: 0 5%;
  width: auto;
  outline: none;
  border: none;
}

.action-tool:hover {
  background-color: #ccc;
}

#upload,
#Clear {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.upload-img,
.Clear {
  padding: 4% 7%;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background-color: white;
}
.upload-img a,
.Clear a {
  text-decoration: none;
}
.upload-img i,
.Clear i {
  margin-right: 10%;
}
.upload-img:hover,
.Clear:hover {
  background-color: #ccc;
}

.input {
  display: flex;
}

.input span {
  margin: 0 0.5rem;
}

.input input {
  width: 2.5rem;
  height: 1.5rem;
}
.dropup-content,
.resize {
  width: 100%;
}

.dimensions {
  display: flex;
}

.aspect label {
  height: 100%;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect label span {
  font-size: 0.75rem;
}

#middle {
  grid-area: middle;
  background-color: var(--middle);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.canvas {
  width: 50%;
  text-align: center;
}
.canvas > .uploaded-img-container {
  text-align: center;
  border: 1px dashed #9e77ed;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.canvas > .uploaded-img-container > .fa-cloud-upload-alt {
  font-size: 100px;
  color: #9e77ed;
  padding: 10px;
}
.uploaded-img-container {
  height: 300px;
  /*width: 300px;*/
  transition: transform 0.8s ease-in-out;
}
.uploaded-img-container:hover {
  transform: rotate(360);
}
.canvas > .img-box {
  width: 700px;
  height: 400px;
  padding: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#dos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.undo,
.redo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  background-color: #9e77ed;
  color: white;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}

.undo:hover,
.redo:hover {
  background-color: #a487df;
}

#right {
  grid-area: right;
  background-color: white;
  background-color: var();
  border: 1px solid #e5e5e5;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  body {
    height: auto;

    grid-template-columns: auto;
    grid-template-rows: 10% 50% 35% 25%;
    grid-template-areas:
      "banner "
      " middle "
      "left"
      "right";
  }
  #upload {
    justify-content: flex-start;
  }
  .download {
    width: 25%;
  }
}
